@import "tailwindcss";

/* Global Shadow Removal across the entire application */
*,
::before,
::after {
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: none !important;
}

.shadow,
.shadow-xs,
.shadow-sm,
.shadow-md,
.shadow-lg,
.shadow-xl,
.shadow-2xl,
.shadow-inner {
  box-shadow: none !important;
}